@font-face
{
font-family: "DumbTwo";
src: url('fonts/2Dumb.ttf') format('truetype');
}
@font-face
{
font-family: "DumbThree";
src: url('fonts/3Dumb.ttf') format('truetype');
}
html,body{
	height: 100%;
}
.homepage_header {
	margin-top: 25px;
}
#blackboard{
	position: absolute;
	left: 50px;
	top: 120px;
	width: 60%;
	height: auto;
}
#blackboard img{
	width: 100%;
	height: auto;
}
.star{
	width: 50%;
	position: absolute;
	left: 50%;
	top: 100px;
	z-index: 1;
}
.star2{
	width: 50%;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 1;
}
#soccer{
	position: absolute;
	left: 42%;
	top: 0px;
	width: 50%;
	height: auto;
}
#soccer img{
	width: 100%;
	height: auto;
}
#bus{
	position: absolute;
	left: 50px;
	top: 7%;
	width: 56%;
	height: auto;
}
#bus img{
	width: 100%;
	height: auto;
}
.star_wrapper{
	width: 100%;
	height: 100%;
}
.star_wrapper img{
	width: 100%;
	height: auto;
}
.about{
	width: 55%;
	text-align: center;
	font-family: Open Sans;
	font-size: 26px;
	vertical-align: middle;
	position: absolute;
	left: 22%;
	top: 35%;
	color: #1cbab2;
	z-index: 10;
}
.banner{
	position: absolute;
	left: 0;
	top: 75%;
	width: 65%;
	height: auto;
	z-index: 0;
}
.banner img{
	width: 100%;
	height: auto;
}
.banner2{
	position: absolute;
	right: 0;
	top: 75%;
	width: 65%;
	height: auto;
	z-index: 0;
}
.banner2 img{
	width: 100%;
	height: auto;
}
#pencil{
	float: right;
	position: absolute;
	right: 0px;
	top: 48%;
	width: 25%;
	height: auto;
	z-index: 1;
}
#pencil img{
	width: 100%;
	height: auto;
}
#trophy{
	float: left;
	position: absolute;
	left: -20px;
	top: 65%;
	width: 20%;
	height: auto;
	z-index: 4;
}
#trophy img{
	width: 100%;
	height: auto;
}
#presents{
	float: right;
	position: absolute;
	right: -30px;
	top: 52%;
	width: 30%;
	height: auto;
	z-index: 2;
}
#presents img{
	width: 100%;
	height: auto;
}
#section1 {
	background-color: #1cbab2;
	overflow: hidden;
}
#homepage{
	background-color: #375678;
	overflow: hidden;	
	height: 100%;
}
#section1 h1 {
	font-family: DumbThree;
	color: #fef027;
	font-size: 60px;
}
#section2 {
  background-color: #ff6b6b; 
  overflow: hidden;
}
#section2 h1 {
	font-family: DumbThree;
	color: #d4ff20;
	font-size: 60px;
}
#section3 {
  background-color: #55f9d0;
  overflow: hidden;
}
#section3 h1 {
	font-family: DumbThree;
	color: #ff6b6b;
	font-size: 60px;
}
#section4 {
	background-color: #375678;
	overflow: hidden;
}
.lastpage{
	width: 70%;
	height: auto;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.lastpage img{
	width: 100%;
	height: auto;
}
a {
  color: #00B7FF;
}
.learnMore a{
	color: #1cbab2;
	font-family: DumbThree;
	font-size: 350%;
	width: 20%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: -10%;
}
.learnMore a:hover{
	color: #f8ca00;
	text-decoration: none;
}
#logindiv{
	position: absolute;
	top: 20%;
	left: 35%;
	width: 30%;
	height: auto;
	z-index: 10;
	font-family: Open Sans;
	color: #1cbab2;

}
#signupdiv{
	position: absolute;
	top: 20%;
	left: 35%;
	width: 30%;
	height: auto;
	z-index: 10;
	font-family: Open Sans;
	color: #1cbab2;
}
.form{
	border-radius:2px;
	padding:40px 50px;
	box-shadow:0 0 15px;
	font-size:20px;
	width:500px;
	background-color: #ffffff;
}
.form h3{
	margin-top: 0;
	text-align: center;
}
input{
	width:100%;
	height:35px;
	margin-top:5px;
	border:1px solid #999;
	border-radius:3px;
	padding:5px;
}
input[type=button],input[type=submit]{
	background-color: #ffffff;
	border:1px solid #1cbab2;
	font-family: Open Sans;
	font-weight:bold;
	font-size:18px;
	color:#1cbab2;
	width:40%;
	margin-left: 20px
}
/*teacher's page*/
h2{
	font-family: DumbThree;
	color: #1cbab2;
	font-size: 38px;
}
#username{
	font-family: Open Sans;
	color: #1cbab2;
	font-size: 20px;
	margin-top: 30px;
}
hr{
	width: 100%;
	position: absolute;
	top: 50px;
	background-color: #cdcdcc;
	size: 1px;
}
#teacher_left_nav{
	border: 1px solid #cdcdcc;
	margin-top: 10px;
	height: 95%;
	font-size: 40px;
}
#teacher_left_nav ul{
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#teacher_left_nav ul li{
	list-style: none;
	float: left;
	margin-top: 40px;
}
#teacher_left_nav ul li a:hover{
	color: #ff6b6b;
	text-decoration: none;
}
#student_left_nav{
	border: 1px solid #cdcdcc;
	margin-top: 10px;
	height: 95%;
	font-size: 40px;
}
#student_left_nav ul{
	margin-top: -40px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#student_left_nav ul li{
	list-style: none;
	float: left;
	margin-top: 40px;
}
#student_left_nav ul li a:hover{
	color: #ff6b6b;
	text-decoration: none;
}
#myStudents, #addStudents, #assignStars, #starShop, #myAccount{
	font-family: DumbTwo;
	color: #1cbab2;
	font-size: 24px;
	text-decoration: none;
}
#teacher_right_display{
	border: 1px solid #cdcdcc;
	margin-top: 10px;
	height: 95%;
}
#student_right_display{
	border: 1px solid #cdcdcc;
	margin-top: 10px;
	height: 95%;
	background-color: #ffffff;
	padding: 10px;
	overflow: scroll; 
}
#logo{
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	display: block;
	vertical-align: middle;
}
#logo img{
	width: 100%;
	height: auto;
}
.items{
	margin-top: 20px;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}
#stars_div{
	font-family: DumbTwo;
	color: #1cbab2;
	font-size: 24px;
	margin-top: 100px;
}
#stars_div li{
	list-style: none;
	float: left;
	margin-top: 20px;
	width: 230px;
	text-align: center;
	margin-left: -30px;
}
.num_star{
	font-size: 50px;
	position: relative;
	top: 160px;
}
#stars_div li img{
	width: 100%;
	height: auto;	
}
a{
	text-decoration: none;
}
#addForm, #starForm{
	margin-top: 100px;
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-family: Open Sans;
	font-size: 22px;
	color: #1cbab2;
}
.single_item {
	border: 1px solid #1cbab2;
	margin-left: 20px;
	padding-left: 0;
	width: 200px;
	height: 260px;
}
.redeem_btn{
	margin-right:auto;
	margin-left: auto;
	display: block; 
	width:110px; 
	height:40px; 
	background-color:#ff6b6b; 
	color:#ffffff; 
	border:none; 
	font-size:20px; 
	margin-top:5px
}
.price{
	width: 160px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.price li{
	display: inline-block;
}
.small_star{
	width: 30px;
	height: 30px;
	margin-left: 0px
}
.small_star img{
	width: 100%;
	height: auto;
}
.multiple {
	font-size:20px;
	font-family: Open Sans;
	position: relative;
	top: 5px;
	margin-left: 10px;
}
#allStudents{
	font-size:30px;
	font-family: Open Sans;
	color: #999;
	margin-top: 50px;
	overflow: scroll;
}
.each_student{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.each_student li{
	display: inline-block;
	margin-left: 20px;
	margin-top: 25px;
}
.student_name{
	margin-right: 30px;
}
.small_star2{
	width: 40px;
	height: 40px;
	margin-left: 0px
}
.small_star2 img{
	width: 100%;
	height: auto;
}
.multiple2 {
	font-size:30px;
	font-family: Open Sans;
	position: relative;
	top: 5px;
	margin-left: 10px;
}
.hidden_text {
	position: absolute;
	top: 0;
	width: 200px;
	height: 200px;
	padding-top: 30px;
	background-color: #000000;
	opacity: 0.7;
}
.hidden_text p{
	z-index: 10;
	opacity: 1;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: #ffffff;
}