extends layout

block content
	script.
		$(document).ready(function() {
		$('#fullpage').fullpage({
		anchors:['firstPage', 'secondPage', 'thirdPage', 'fourthPage']
		});
		$('#signin').click(function(){
		$('#logindiv').css('display','block');
		});
		$('#cancel').click(function(){
		$('#logindiv').css('display','none');
		})
		$('#join').click(function(){
		$('#signupdiv').css('display','block');
		});
		$('#cancel2').click(function(){
		$('#signupdiv').css('display','none');
		})
		});
	#fullpage
		#section1.section(data-anchor='firstPage')
			.row.homepage_header
			.col-md-1.col-lg-1
			h1.col-md-6.col-lg-6 Shoot for the stars
			#blackboard
				img(src='/images/blackboard.png')
			.star
				.star_wrapper
					img(src='/images/green_star.png', style='width:100%; height:auto')
				p.about
					| Shoot for the stars is a star-reward and recognition system that empowers teachers with a tool to make learning in school fun and encourages kids to do better. Teachers can allocate “stars” to students for their “activities” and students can use these “stars” to redeem gifts.
			.banner
				img(src='/images/banner1.png')
			#pencil
				img(src='/images/color_pencil.png')
		#section2.section(data-anchor='secondPage')
			.row.homepage_header
			.col-md-1.col-lg-1
			h1.col-md-6.col-lg-6 Shoot for the stars
			.star2
				.star_wrapper
					img(src='/images/blue_star.png', style='width:100%; height:auto')
				p.about(style='color:#ffffff;')
					| We believe in the magic of positive reinforcement. Anything from helping in keeping the school premises clean to excelling in academics, sports or arts – deserves recognition! And deciding the number of stars to allocate to a particular activity is left to the discretion of the teacher!
			#soccer
				img(src='/images/center_collage2.png')
			.banner2
				img(src='/images/banner2.png')
			#trophy
				img(src='/images/trophy.png')
		#section3.section(data-anchor='thirdPage')
			.row.homepage_header
			.col-md-1
			h1.col-md-6 Shoot for the stars
			#bus
				img(src='/images/bus.png')
			.star
				.star_wrapper
					img(src='/images/pink_star.png', style='width:100%; height:auto')
				p.about(style='color:#ffffff;')
					| What our teachers say… “Excellent! The idea seems well thought of and fabulously useful to both teacher and student.” -  Lesko Joan Geordina, PS119
			.banner
				img(src='/images/banner3.png')
			#presents
				img(src='/images/presents.png')
		#section4.section.fp-section.fp-table(data-anchor='fourthPage')
			.col-md-10.col-lg-10
			.col-md-1.col-lg-1
				button#signin.btn.btn-default.navbar-btn(type='button', style='margin-right:5px; width:110px; height:50px; background-color:#ff6b6b; color:#ffffff; border:none; font-size:20px; margin-top:30px') Sign in
			.col-md-1.col-lg-1
				button#join.btn.btn-default.navbar-btn(type='button', style='margin-right:5px; width:110px; height:50px; background-color:#1cbab2; color:#ffffff; border:none; font-size:20px; margin-top:30px') Sign up
			.lastpage
				img(src='/images/lastpage.png')
			.learnMore
				a(href='/') Home
			// Login form
			#logindiv(style='display:none')
				form#login.form(action='/login', method='POST')
					h3 Login
					br
					label Username : 
					input#user(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
					br
					br
					label password : 
					br
					input#password(type='password', name='password' class='form-control', placeholder='Password', required)
					br
					br
					input#loginbtn(value='Login', type='submit')
					input#cancel(type='button', value='Cancel')
					br
					#message
						if message
							h1.text-center.error-message #{message}
					// End of login form
					// sign up form
			#signupdiv(style='display:none')
				form#signupForm.form(action='/signup', method='POST')
					h3 Sign up
					br
					br
					input(type='text', name='name', placeholder='Username',required, autofocus)
					br
					br
					input(type='password', name='password', placeholder='Password', required)
					br
					br
					input(type='email', name='email', placeholder='Email',required)
					br
					br
					input(type='text', name='firstName',placeholder='First Name',required)
					br 
					br
					input(type='text', name='lastName', placeholder='Last Name',required)
					br
					br
					input(type='submit', value='register')
					input#cancel(type='button', value='Cancel')
					#message
						if message
							h1.text-center.error-message #{message}
					// end of sign up form

