<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Student's account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <script src="../public/stylesheets/jquery-1.11.3.min.js"></script>
</head>
<body style="height:100%">
    <hr>
    <div class="container" style="height:100%">
    	<div class="row">
	    	<h2 class="col-md-6">Shoot for the stars</h2>
	    	<div class="col-md-2"></div>
	    	<div class="col-md-2" id="username">Hello, Tom</div>
            <button type="button" id="signin" class="col-md-2 btn btn-default navbar-btn" style="margin-right:-15px; margin-top:-20px; width:110px; height:38px; background-color:#1cbab2; color:#ffffff; border:none; font-size:20px; margin-top:30px">Log out</button>
            
    	</div>
        <div class="row" style="height:90%; margin-left:-50px">
            <div class="col-sm-3 col-md-3 col-lg-3" id="student_left_nav">
                <div id="logo"><img src="../public/images/lastpage.png"></div>
                <ul id="stars_div">
                    <li>You have</li>
                    <li style="margin-top:-30px;"><div class="num_star">35</div><img src="../public/images/yellow_star.png"></li>
                    <li>in total</li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9" id="student_right_display">
                <div id="star_shop_items">
                    <h2 style="text-align:center;">Star shop</h2>
                    <div class="items">
                      <div class="row" style="margin-top: 20px">
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>Fluffy teddy bear</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/teddybear.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 30</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>Notebook</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/notebooks.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 15</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>Wear superman cape for a day in school</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/superman.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 10</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>Assorted candies</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/candies.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 12</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                      </div>
                      <div class="row" style="margin-top: 20px">
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>15 minutes of extra recess time</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/recess.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 5</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>Brand new color pencils</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/color_pencils.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 20</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>15 minutes in the computer lab</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/computer.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 15</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                        <div class="col-sm-6 col-md-6 col-lg-3 single_item"><div class="hidden_text" style="display:none"><p>Free movie tickets</p></div><img style="height:160px; width:160px; margin-top:5px" src="../public/images/movie.jpg"><ul class="price"><li class="small_star"><img src="../public/images/yellow_star.png"></li><li class="multiple">x 20</li></ul><button type="button" class="btn redeem_btn">Get it!</button></div>
                      </div>
                    </div>
                </div>
            </div>         
        </div>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        $('.single_item').mouseover(function(){
            $(this).children('div.hidden_text').show();
        });
        $('.single_item').mouseout(function(){
            $(this).children('div.hidden_text').hide();
        }); 
    });
</script>
</html>
