<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Teacher's account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <script src="../public/stylesheets/jquery-1.11.3.min.js"></script>

</head>
<body>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#myStudents").css("color", "#ff6b6b");
        $("#allStudents").show();
        $("#addForm").hide();
        $("#starForm").hide();
        $("#myStudents").click(function(){
            $("#myStudents").css("color", "#ff6b6b");
            $("#addStudents").css('color','#1cbab2');
            $("#assignStars").css('color','#1cbab2');
            $("#allStudents").show();
            $("#addForm").hide();
            $("#starForm").hide();
        });

        $("#addStudents").click(function(){
            $("#myStudents").css("color", "#1cbab2");
            $("#addStudents").css('color','#ff6b6b');
            $("#assignStars").css('color','#1cbab2');
            $("#addForm").show();
            $("#starForm").hide();
            $("#allStudents").hide();
        });

        $("#assignStars").click(function(){
            $("#myStudents").css("color", "#1cbab2");
            $("#addStudents").css('color','#1cbab2');
            $("#assignStars").css('color','#ff6b6b');
            $("#starForm").show();
            $("#addForm").hide();
            $("#allStudents").hide();
        });
    });
</script>
    <hr>
    <div class="container" style="height:100%">
    	<div class="row">
	    	<h2 class="col-md-6">Shoot for the stars</h2>
	    	<div class="col-md-4"></div>
	    	<div class="col-md-2" id="username">Hello, Ms. Walker</div>
    	</div>
        <div class="row" style="height:90%; margin-left:-50px">
            <div class="col-lg-3" id="teacher_left_nav">
                <ul>
                    <li><a href="#" id="myStudents">My students</a></li>
                    <li><a href="#" id="addStudents">Add students</a></li>
                    <li><a href="#" id="assignStars">Assign stars</a></li>
                </ul>
                <ul id="stars_div">
                    <li>You have</li>
                    <li><img src="../public/images/yellow_star.png"></li>
                    <li>for this week</li>
                </ul>
            </div>
            <div class="col-lg-9" id="teacher_right_display">
                <div id="allStudents">
                    <ul class="each_student"><li class="student_name">Tom Smith:</li><li class="small_star2"><img src="../public/images/yellow_star.png"></li><li class="multiple2">x 10</li>
                    </ul>
                </div>
                <form id="addForm">
                    Username: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="username" name="username" />
                    <br/><br/>
                    First Name: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="firstname" name="firstname" />
                    <br/><br/>
                    Last Name: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="lastname" name="lastname" />
                    <br/><br/>
                    <br/><br/>
                    <input type="submit" name="Complete" value="Add student"/>
                </form>
                <form id="starForm">
                    Select students: &nbsp;&nbsp;&nbsp;&nbsp;<select>
                        <option>Tom</option>
                        <option>Jerry</option>
                        <option>Anna</option>
                        </select>
                    <br/><br/>
                    Number of stars: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="stars" />
                    <br/><br/>
                    Reason: &nbsp;&nbsp;&nbsp;&nbsp;<select>
                        <option>Academics</option>
                        <option>Sports</option>
                        <option>Helping others</option>
                        </select>
                    <br/><br/>
                    <input type="submit" name="Complete" value="Complete"/>
                </form>
            </div>
        </div>
    		
    </div>

</body>
</html>
