extends layout
block content
    script.
        $(document).ready(function() {
        $('#signin').click(function(){
        if($('#signupdiv').css('display')=='block'){
          $('#signupdiv').css('display','none');
          $('#logindiv').css('display','block');
        }else{
          $('#logindiv').css('display','block');
        }    
        });
        $('#cancel').click(function(){
        $('#logindiv').css('display','none');
        })
        $('#join').click(function(){
        if($('#logindiv').css('display')=='block'){
          $('#logindiv').css('display','none');
          $('#signupdiv').css('display','block');
        }else{
          $('#signupdiv').css('display','block');
        }
        });
        $('#cancel2').click(function(){
        $('#signupdiv').css('display','none');
        })
        });
    #homepage.section
      .col-sm-8.col-md-8.col-lg-9
      .col-sm-4.col-md-4.col-lg-3
        button#signin.btn.btn-default.navbar-btn(type='button', style='margin-right:0px; margin-left:20px; width:110px; height:50px; background-color:#ff6b6b; color:#ffffff; border:none; font-size:20px; margin-top:30px') Sign in
        button#join.btn.btn-default.navbar-btn(type='button', style='margin-left:20px; width:110px; height:50px; background-color:#1cbab2; color:#ffffff; border:none; font-size:20px; margin-top:30px') Sign up
      .lastpage
        img(src='/images/lastpage.png')
      .learnMore
        a(href='/about') Learn more
      // Login form
      #logindiv(style='display:none')
        form#login.form(action='/login', method='POST')
            h3 Login
            br
            label Username: 
            input#user(type='text', name='username' class='form-control', placeholder='username',required, autofocus)
            br
            br
            label Password: 
            br
            input#password(type='password', name='password' class='form-control', placeholder='password', required)
            br
            br
            input#loginbtn(value='Login', type='submit')
            input#cancel(type='button', value='Cancel')
            br
            #message
            if message
                h1.text-center.error-message #{message}
      // End of login form
      // sign up form
      #signupdiv(style='display:none')
        form(class='form', id='signupForm', action='/signup', method='POST')
          h3 Sign up
          br
          br
          input(type='text', name='username', placeholder='username',required, autofocus)
          br
          br
          input(type='password', name='password', placeholder='password', required)
          br
          br
          input(type='email', name='email', placeholder='email',required)
          br
          br
          input(type='text', name='firstName',placeholder='first name',required)            
          br 
          br
          input(type='text', name='lastName', placeholder='last name',required)
          br
          br
          input(type='submit', value='Register')
          input#cancel2(type='button', value='Cancel')
          span.clearfix
          #message
              if message
                h1.text-center.error-message #{message}
      // end of sign up form
  
