<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shoot for the stars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/fullPage/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">

</head>
<body>
<div id="fullpage">
    <div class="section" id="section1" data-anchor="firstPage" class="container">
    	<div class="row homepage_header">
	    	<div class="col-md-1"></div>
	    	<h1 class="col-md-6">Shoot for the stars</h1>
	    	<div class="col-md-3"></div>
	    	<button type="button" class="btn btn-default navbar-btn" style="margin-right:5px; width:110px; height:50px; background-color:#ff6b6b; color:#ffffff; border:none; font-size:20px; margin-top:30px">Sign in</button>
    	</div>
 
    		<div id="blackboard"><img src="../public/images/blackboard.png"/></div>
    		<div class="star"><div class="star_wrapper"><img src="../public/images/green_star.png" style="width:100%; height:auto"/></div><p class="about">A star-reward system for kids to encourage them to achieve more and become better</p></div>
    		<div class="banner" ><img src="../public/images/banner1.png"/></div>
    		<div id="pencil"><img src="../public/images/color_pencil.png"/></div>
    </div>

    <div class="section" id="section2" data-anchor="secondPage">
    	<div class="row homepage_header">
	    	<div class="col-md-1"></div>
	    	<h1 class="col-md-6">Shoot for the stars2</h1>
    	</div>
    		<div class="star2"><div class="star_wrapper"><img src="../public/images/blue_star.png" style="width:100%; height:auto"/></div><p class="about" style="color:#ffffff;">A star-reward system for kids to encourage them to achieve more and become better</p></div>
    		<div id="soccer"><img src="../public/images/center_collage2.png"/></div>
    		<div class="banner2" ><img src="../public/images/banner2.png"/></div>
    		<div id="trophy"><img src="../public/images/trophy.png"/></div>
    </div>
    <div class="section" id="section3" data-anchor="thirdPage">
    	<div class="row homepage_header">
	    	<div class="col-md-1"></div>
	    	<h1 class="col-md-6">Shoot for the stars3</h1>
    	</div>
    	<div id="bus"><img src="../public/images/bus.png"/></div>
    		<div class="star"><div class="star_wrapper"><img src="../public/images/pink_star.png" style="width:100%; height:auto"/></div><p class="about">A star-reward system for kids to encourage them to achieve more and become better</p></div>
    		<div class="banner" ><img src="../public/images/banner3.png"/></div>
    		<div id="presents"><img src="../public/images/presents.png"/></div>
    </div>
    <div class="section fp-section fp-table" id="section4" data-anchor="fourthPage">
    	<div class="lastpage">
    		<img src="../public/images/lastpage.png"/>
    	</div>
    	<div class="join">
    		<a href="#">Join now</a>
    	</div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../public/stylesheets/bootstrap/js/bootstrap.min.js"></script>    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
	<script src="../public/stylesheets/fullPage/vendors/jquery.easings.min.js"></script>
<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->
	<script type="text/javascript" src="../public/stylesheets/fullPage/vendors/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="../public/stylesheets/fullPage/jquery.fullPage.js"></script>
	<script>
		$(document).ready(function() {
    $('#fullpage').fullpage({
        anchors:['firstPage', 'secondPage', 'thirdPage', 'fourthPage']
    });
});
	</script>
</html>
