extends layout

block content
    script.
        $(document).ready(function() {
        $('#signin').click(function(){
        $('#logindiv').css('display','block');
        });
        $('#cancel').click(function(){
        $('#logindiv').css('display','none');
        })
        $('#join').click(function(){
        $('#signupdiv').css('display','block');
        });
        $('#cancel2').click(function(){
        $('#signupdiv').css('display','none');
        })
        });
    #homepage.section
      .col-md-10.col-lg-10
      .col-md-1.col-lg-1
        button#signin.btn.btn-default.navbar-btn(type='button', style='margin-right:5px; width:110px; height:50px; background-color:#ff6b6b; color:#ffffff; border:none; font-size:20px; margin-top:30px') Sign in
      .col-md-1.col-lg-1
        button#join.btn.btn-default.navbar-btn(type='button', style='margin-right:5px; width:110px; height:50px; background-color:#1cbab2; color:#ffffff; border:none; font-size:20px; margin-top:30px') Sign up
      .lastpage
        img(src='/images/lastpage.png')
      .learnMore
        a(href='/about') Learn more
      // Login form
      #logindiv(style='display:none')
        form#login.form(action='/login', method='POST')
            h3 Login
            br
            label Username : 
            input#user(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
            br
            br
            label password : 
            br
            input#password(type='password', name='password' class='form-control', placeholder='Password', required)
            br
            br
            input#loginbtn(value='Login', type='submit')
            input#cancel(type='button', value='Cancel')
            br
            #message
            if message
                h1.text-center.error-message #{message}
      // End of login form
      // sign up form
      #signupdiv(style='display:none')
        form(class='form', id='signupForm', action='/signup', method='POST')
          h3 Sign up
          br
          br
          label Username
          input(type='text', name='username', placeholder='Username',required, autofocus)
          br
          br
          input(type='password', name='password', placeholder='Password', required)
          br
          br
          input(type='email', name='email', placeholder='Email',required)
          br
          br
          input(type='text', name='firstName',placeholder='First Name',required)            
          br 
          br
          input(type='text', name='lastName', placeholder='Last Name',required)
          br
          br
          button(type='submit') Register
          span.clearfix
          #message
              if message
                h1.text-center.error-message #{message}
      // end of sign up form
  
