extends layout

block content
  p THIS IS THE STAR SHOP WHERE YOU CAN BUY COOL THINGS WITH YOUR COOL STARS YAY
  a(href='/home', class='text-center new-account') IF YOU HATE THE STAR SHOP CLICK HERE :(